body{
  background: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  color: #3d3d3d;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #cde3f1;
  color: #3d3d3d;
}
table thead th, table.table-fit tfoot th {
  width: auto !important;
}
table tbody td, table.table-fit tfoot td {
  width: auto !important;
}
.main-title{
  font-weight: bold;
  color: #03307f;
}
.main-title span{
  font-weight: 200;
  color: #3f99d3;
}
.top{
  background-color: #cde3f1;
}

.details-box{
  background-color: #cde3f18c;
}

h1,h2,h3,h4,h5,h6{
  color: #03307f;
}

.text-light-blue{
   color: #3f99d3;
}

.m-card{
  width: 100%;
  min-height: 180px;
  
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #cde3f1;
}

.m-card h1{
  text-align: center;
  font-size: 4.6em;
  color: #3f99d3;
  margin-top: 20px;
}
.dt-button{
  color: #6c757d;
    border-color: #6c757d;
    border: 1px solid;
    display: in line-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dt-button:hover {
  color: #fff;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}
.dataTables_paginate .paginate_button:hover {
  background-color: rgba(255, 255, 255, 0) !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs
.nav-link.active {
  color: #495057;
  background-color: #f5f5f5;
  border-color: #dee2e6 #dee2e6 #f5f5f5;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs
.nav-link {
  font-size: 12px;
  color: #fff;
  background-color: #3f99d3;
  border-color: #dee2e6 #dee2e6 #f5f5f5;
}


