body{
  background: #f5f5f5;
  font-family: 'Poppins', sans-serif;
  color: #3d3d3d;
}
table {
  width: auto !important;
  table-layout: auto !important;
  
}
.table-bordered td, .table-bordered th {
  border: 1px solid #cde3f1;
  color: #3d3d3d;
}
table thead th, table.table-fit tfoot th {
  width: auto !important;
}
table tbody td, table.table-fit tfoot td {
  width: auto !important;
}
.main-title{
  font-weight: bold;
  color: #03307f;
}
.main-title span{
  font-weight: 200;
  color: #3f99d3;
}
.top{
  background-color: #cde3f1;
}

h1,h2,h3,h4,h5,h6{
  color: #03307f;
}

.text-light-blue{
   color: #3f99d3;
}

.m-card{
  width: 100%;
  min-height: 180px;
  
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #cde3f1;
}

.m-card h1{
  text-align: center;
  font-size: 4.6em;
  color: #3f99d3;
  margin-top: 20px;
}
